.hk-horizontal-slider {

	position: relative;
    border: 1px solid $HK_TOOLBAR_ITEM_BORDER_COLOR;
    background: black;
    background-color: $HK_BUTTON_BG_COLOR;
    width: 200px;
    height: 18px;

    > .fill {
    	height: 100%;
    	display: block;
    	width: 0;
    	background-color: $HK_CONTROL_ACTIVE_BG_COLOR;
    }

    > .caption {
    	position: absolute;
    	top: 50%;
    	left: 0;
    	width: 100%;
    	font-size: 11px;
    	line-height: 1;
    	margin-top: -5px;
    	text-align: center;
    }

}
