.hk-split-pane > .hk-widget {
	position: absolute;
}

.hk-split-pane > .hk-split-pane-divider {
	position: absolute;
	background-color: $HK_ROOT_BG_COLOR;
}

.hk-split-pane > .hk-split-pane-ghost {
	background-color: #ff3300;
	opacity: 0.7;
}

.hk-split-pane.horizontal > .hk-split-pane-divider {
	left: 0; right: 0;
	height: $HK_SPLIT_PANE_DIVIDER_SIZE;
	cursor: row-resize;
}

.hk-split-pane.vertical > .hk-split-pane-divider {
	top: 0; bottom: 0;
	width: $HK_SPLIT_PANE_DIVIDER_SIZE;
	cursor: col-resize;
}