body {
  background: #101010; }

.hk {
  -webkit-user-select: none;
  cursor: default;
  font: 12px Arial, Helvetica, sans-serif; }
  .hk a {
    text-decoration: none; }
  .hk * {
    -webkit-user-select: none;
    cursor: default; }

.hk-menu-bar {
  font-size: 11px;
  background: #202020;
  padding: 7px; }
  .hk-menu-bar > a {
    display: inline-block;
    color: white;
    margin-right: 5px;
    padding: 3px 5px;
    border-radius: 3px; }
    .hk-menu-bar > a:hover {
      background: #606060; }

.hk-menu {
  position: absolute; }

.hk-menu-action-item {
  display: block; }

.hk-capture-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.hk-widget {
  position: absolute;
  overflow: hidden;
  box-sizing: border-box; }

.hk-console {
  padding: 5px;
  background: #f0f0f0;
  overflow: auto;
  font: 13px/1.2 monospace; }
  .hk-console .output-item {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: stretch;
    clear: both; }
  .hk-console .prompt {
    white-space: nowrap;
    margin-right: 5px;
    display: -webkit-box;
    -webkit-box-back: center;
    -webkit-box-orient: vertical; }
  .hk-console .command-wrapper {
    display: block;
    -webkit-box-flex: 1; }
  .hk-console span.command {
    display: inline-block; }
  .hk-console input.command {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    width: 100%;
    font: inherit;
    -webkit-appearance: textfield;
    -webkit-user-select: text;
    cursor: auto;
    display: inline-block;
    text-align: start; }
    .hk-console input.command:focus {
      outline: none; }

.hk-dialog {
  background: #303030;
  border-radius: 6px;
  position: absolute;
  overflow: hidden;
  -webkit-transition-property: opacity, -webkit-transform;
  -webkit-transition-duration: 0.2s, 0.2s;
  -webkit-transform: translateZ(0); }
  .hk-dialog.active-dragging {
    opacity: 0.6; }
  .hk-dialog.hiding {
    opacity: 0;
    -webkit-transform: translateZ(0) scale(0.8); }
  .hk-dialog.hidden {
    display: none; }
  .hk-dialog > .hk-dialog-header {
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    height: 24px;
    background: #a0a0a0;
    border-radius: 6px;
    cursor: move;
    overflow: hidden; }
    .hk-dialog > .hk-dialog-header > .hk-dialog-title {
      display: block;
      padding: 6px;
      font-size: 12px;
      line-height: 1;
      cursor: move; }
    .hk-dialog > .hk-dialog-header > .hk-dialog-close {
      position: absolute;
      right: 20px;
      top: 4px;
      cursor: pointer; }
      .hk-dialog > .hk-dialog-header > .hk-dialog-close:after {
        content: "[X]"; }
    .hk-dialog > .hk-dialog-header > .hk-dialog-shade {
      position: absolute;
      right: 40px;
      top: 4px;
      cursor: pointer; }
      .hk-dialog > .hk-dialog-header > .hk-dialog-shade:after {
        content: "[S]"; }
  .hk-dialog > .hk-dialog-content {
    position: absolute;
    border-radius: 6px; }
  .hk-dialog > .hk-dialog-resize-horizontal {
    position: absolute;
    top: 6px;
    right: 0;
    bottom: 6px;
    width: 6px;
    cursor: e-resize; }
  .hk-dialog > .hk-dialog-resize-vertical {
    position: absolute;
    left: 6px;
    right: 6px;
    bottom: 0;
    height: 6px;
    cursor: s-resize; }
  .hk-dialog > .hk-dialog-resize-any {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 6px;
    height: 6px;
    cursor: se-resize; }
  .hk-dialog > .hk-dialog-resize-horizontal,
  .hk-dialog > .hk-dialog-resize-vertical,
  .hk-dialog > .hk-dialog-resize-any {
    display: none; }
  .hk-dialog.hk-dialog-resizable-horizontal > .hk-dialog-resize-horizontal, .hk-dialog.hk-dialog-resizable-vertical > .hk-dialog-resize-vertical, .hk-dialog.hk-dialog-resizable-any > .hk-dialog-resize-any {
    display: block; }

.hk-root-pane {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.hk-split-pane > .hk-split-pane-divider {
  position: absolute;
  background: #505050; }
.hk-split-pane > .hk-split-pane-ghost {
  background: #ff3300;
  opacity: 0.7; }
.hk-split-pane.horizontal > .hk-split-pane-divider {
  top: 0;
  bottom: 0;
  width: 10px;
  cursor: col-resize; }
.hk-split-pane.vertical > .hk-split-pane-divider {
  left: 0;
  right: 0;
  height: 10px;
  cursor: row-resize; }
